<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Real-time monitoring</title>
    <script type="text/javascript" src="/static/js/raphael-min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/drawing.js"></script>
</head>
<body>
    <h2>Map for <%= building %>, <%= level %></h2>
</body>
</html>
